* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    font-family: Arial, sans-serif;
    background-color: #34495E;
    color: white;
    text-align: center;
    /* flex-direction: column; */
    height: 100vh;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

label {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    width: 300px;
}

input[type="file"] {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 300px;
}

#label {
    border: 1px dashed;
    padding: 10px;
    border-radius: 5px;
    width: 10em;
    height: 10em;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}


#container {
    /* border: 1px solid; */
    padding: 10px;
    border-radius: 5px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#container.dragover {
    /* background-color: lightblue; */
    border: 3px dashed;
    padding: 10px;
    border-radius: 5px;
    width: 90vw;
    height: 90vh;

}



#success,
#error,
#fileData {
    display: none;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;
    color: white;
    font-weight: bold;
    width: 90%;
}
#fileData-slug {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;
    color: white;
    font-weight: bold;
    width: 90%;
}

#link-container {
    display: none;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;
    color: white;
    font-weight: bold;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;

}

#link-container input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: lightblue;
    color: black;
    font-weight: bold;
    cursor: pointer;
    width: 90%;
    pointer-events: none;
}

#link-container button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: lightblue;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

#progress {
    width: 300px;
    height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: lightpink;
}

#success-message {
    width: 100%;
    height: 50px;
    background-color: lightblue;
    position: absolute;
    color: black;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

#download-btn {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: lightblue;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

#submit-btn {
    display: none;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: lightblue;
    color: black;
    font-weight: bold;
    cursor: pointer;
}